@import "bootstrap";

/* universal */
$med-green: #609246;
$darker-green: #448330;
$color-3: #3b7e2f;
$yellow-green: #a5c433;
$light-lime: #c3d682;
$other-green: #77a534;
$lime: #9dc53b;



html {
  overflow-y: scroll;
  
}

html * {
  font-family: Helvetica !important;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



.strong {
  font-weight: bold;
}

.med-green {
  color: $med-green;
}
.dark-green {
  color: $darker-green;
}

.lime-box {
  background-color: $lime;
  border-radius: 25px;
  height: 200px;
  a {color: white;}
  color: white;
}

.other-green-box {
  background-color: $other-green;
  border-radius: 25px;
  height: 200px;
  a {color: white;}
  color: white;
}

.dark-green-box {
  background-color: $darker-green;
  border-radius: 25px;
  height: 200px;
  a {color: white;}
  color: white;
}

.med-green-box {
  background-color: $med-green;
  border-radius: 25px;
  height: 200px;
  a {color: white;}
  color: white;
}

.navbar-default {
  background-color: white;
  border-color: white;
  .navbar-nav >li > a{
    color: $med-green;
  }
  .navbar-nav >li > a:hover{
    color: $darker-green;
  }
  .navbar-brand{
    color: white;
  }
  a.navbar-brand:hover{
    color: $gray;
  }
}

.btn-primary {
  background-color: $med-green;
  border-color: $med-green;  //change for depth?
}